#mobileImg
  height: 200px
  width: 400px
  right: 320px
  top: 110px

#desktopImg
  height: 400px
  width: 600px

@media screen and (max-width: 1070px)
  #mobileImg
    height: 100px
    width: 200px
    right: 160px
    top: 55px

  #desktopImg
    height: 200px
    width: 300px

@media screen and (max-width: 859px)
  #desktopImg
    margin-left: 250px

  #mobileImg
    top: 600px
    right: 450px

